body{
    width:456px
}
ul{
    width:510px;
    height:30px;
    flex-direction: row;
    margin-left: 930px;
    margin-top: 30px;
   
}

ul a{
    text-decoration: none;
    font-size: 30px;
    padding-right: 30px;
}

#element{
    font-size: 30px;
}
.title{
    color:blueviolet;
    margin-left: 120px;
    margin-top: 300px;
    width:470px;
}
.button1{
    font-size: 30px;
    border-radius: 20px;
    border: 3px red dotted;
    margin-left: 120px;
    
}
.button2{
    font-size: 30px;
    border-radius: 20px;
    border: 3px red dotted;
    margin-left: 20px;
  
}
.button2:hover,.button1:hover{
    background-color:burlywood;
}

.first-image{
    border-radius: 50%;
    position: absolute;
    top:0;
    border:2px solid red;
    height:500px;
    margin-left: 600px;
    margin-top: 200px;
}
#about-skill{
    
    margin-top: 50px;
    margin-left:300px;
    width: 800px;

}
#font{
    font-size: 40px;
    margin-left: 50px;
   
}
#full{
    width:700px;
    background-color:darkslategray;
    height:30px;
    margin-left: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#first-hr{
    border:5px solid blue;
    margin-top: 250px;
    width:1410px;
    margin-left: 50px;
    border-radius: 20px;
}
#second-hr{
    border:5px solid blue;
    margin-top: 50px;
    width:1410px;
    margin-left: 50px;
    border-radius: 20px;
}
#experience{
    color:black;
    font-size: 50px;
    margin-left: 300px;
    width:50px; 
    font-family:"Sofia", sans-serif;
    
}
#logo-img{
    margin-left: 300px;
}
#about-us{
    color:black;
    font-size: 50px;
    margin-left: 300px;
    width:220px;
    font-family:"Sofia", sans-serif;
}
#about{
    color:black;
    font-size: 30px;
    margin-left: 300px;
    width: 750px;

}
#c{
    font-size: 20px;
    position: absolute;
    top:0;
    margin-top: 1820px;
    border-radius: 50px;
    left:0;
    margin-left: 470px;
    color:blueviolet
}
#color_change{
    height: 200px;
    width:60px;
    position: absolute;
    background-color: red;
    right:0;
    top:0;
    border-bottom-left-radius:30px ;
}
 #contactme{
    width: 1515px;
    height:130px;
    background-color: #ff8ba7;
    margin-top: 50px;
}
#contact-us{
    color:black;
    font-size: 50px;
    margin-left: 620px;  
    width:250px;
    font-family:"Sofia", sans-serif;

}

#my-skill{
    font-size: 40px;
    margin-left:0;
    position: absolute;
    top:0;
    margin-top:780px;
    color:black;
    font-size: 50px;
    margin-left:400px;
    width:220px;
    font-family:"Sofia", sans-serif;
}
.bi{
    position: relative;
    margin-left: 20px;
}
#container{
    margin-left: 600px;
    margin-top:10px
}
#c_color{
    position: absolute;
    margin-top: 230px;
    margin-left: 110px;
    /* background-color: red; */
    width: 210px;
    border-radius: 50px;

}
#c1{
    height: 45px;
    width: 45px;
    background-color: #c8d8e4;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    margin-left: 9px;
    margin-top: 2px;
    border: 3px solid white;
}
#c2{
    height: 45px;
    width: 45px;
    background-color: rgb(255, 194, 83);
    position: relative;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid white;
}
#c3{
    height: 45px;
    width: 45px;
    background-color: #5CDB95;
    position: relative;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid white;
}
#c4{
    height: 45px;
    width: 45px;
    background-color:#88bdbc;
    position: relative;
    display: inline-block;
    border-radius: 50px;border: 3px solid white;
}
@media screen and (max-width: 385px) {
    body{
      background-color: white;
      max-width: 300px;
    
    }
    ul a {
        display: none;
    }
    .first-image{
        position: absolute;
        left:0;
        height:1450px;
        margin-left: 32px;
        border:2px solid red
        
    }
    #c1 , #c2, #c3, #c4{
        height: 100px;
        width: 100px;
    }
    .title{
        position: absolute;
        display: block;
        top:0;
        width:1300px;
        font-size: 110px;
        left:0;
        margin-left: 90px;
        margin-top: 1900px;
    }
    #element{
        font-size: 100px;
    }
    #c_color{
        position: absolute;
        height: 80px;
        width: 450px;
        margin-top: 1650px;
        margin-left: 500px;
    }
    .button1{
        position: absolute;
        top:0;
        margin-top: 2200px;
        font-size: 130px;
        left:0;
        margin-left: 90px;
    }
    .button2{
        position: absolute;
        top:0;
        margin-top: 2200px;
        font-size: 130px;
        left:0;
        margin-left: 630px;
    }
    #first-hr{
        margin-top: 2400px;
        width:1330px;
        margin-left: 50px;
    }
   #about-skill{
    position: absolute;
    left:0;
    margin-left: 200px;
    
   }
   #font{
    font-size: 100px;
   }
   #second-hr{
    border:5px solid blue;
    margin-top: 1400px;
    width:1330px;
    margin-left: 50px;
    border-radius: 20px;
}
#my-skill{
    position: absolute;
    top:-830px;
    font-size: 130px;
    margin-left:300px;
    width:600px;
    font-family:"Sofia", sans-serif;
}
 #about-us{
    color:black;
    font-size: 100px;
    margin-left: 250px;
    width:400px;
    font-family:"Sofia", sans-serif;
} 
#about{
    color:black;
    font-size: 50px;
    margin-left: 250px;
    width: 620px;
}
#experience{
    color:black;
    font-size: 100px;
    position: absolute;
    top:0;
    margin-top: 3750px;
    right:0;
    left:0;
    margin-left: 250px;
    font-family:"Sofia", sans-serif;
    
}
#horizontal{
    height:250px;
    width:10px;
    background-color: rgb(49, 44, 44);
    position: absolute;
    top:0;
    margin-top: 3680px;
    border-radius: 50px;
    right:0;
    margin-right: 100px;
}
#vertical{
    height:10px;
    width:100px;
    background-color: rgb(49, 44, 44);
    position: absolute;
    top:0;
    margin-top: 3780px;
    border-radius: 50px;
    right:0;
    margin-right: 10px;

}
#third-hr{
    border:5px solid blue;
    margin-top: 600px;
    width:800px;
    margin-left: 50px;
    border-radius: 20px;
}
#logo-img{
    margin-left: 300px;
    margin-top: 220px;
    height: 80px;
}
#c{
     font-size: 30px;
    position: absolute;
    top:0;
    width:300px;
    margin-top: 3920px;
    margin-left: 520px;
}
#contact-us{
    color:black;
    font-size: 80px;
    margin-left: 260px;
    font-family:"Sofia", sans-serif;
}
#contactme{
    width: 920.5px;
    height:170px;
    background-color:#ff8ba7;
    margin-top: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#container{
    margin-left: 400px;
    margin-top:10px
}
#fname{
    width:500px;
    height:70px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 250px;
    left:0;
    margin-left: 250px;
}
  }
 